.UserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__Status {
    display: flex;
    align-items: center;
    color: var(--accent-2);
    font-size: 13px;
  }

  &__Online {
    border-radius: 50%;
    background: var(--primary);
    width: 7px; height: 7px;
    margin-right: 8px;
  }
}